body
{
background-color: hsl(30, 38%, 92%);
display: flex;
justify-content: center;    
align-items:center;
flex-direction: column;
width: 30rem;
margin: auto auto;
height: auto;
}
.card
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    padding: 1em;
    border-radius: 1em;
    margin: auto 0;
}
.card_image
{
    width: 100%;
    height: auto;
    flex: 1;
}
.text
{
    flex: 1;
}
#image
{
    width: 100%;
    height: auto;
}